<?xml version="1.0" encoding="utf-8"?>
<server>
    <instance_id>admin_server-1</instance_id>
    <service_name>admin_server</service_name>
    <game_server_id></game_server_id>
    <host>127.0.0.1</host>
    <worker_pool>4</worker_pool>
    <network>
        <network_type>tcp</network_type>
        <port>30010</port>
    </network>
    <network>
        <network_type>http</network_type>
        <port>30011</port>
    </network>
    <network>
        <network_type>websocket</network_type>
        <port>30012</port>
    </network>
</server>