<?xml version="1.0" encoding="utf-8"?>
<server>
    <instance_id>logic_server-1</instance_id>
    <service_name>logic_server</service_name>
    <game_server_id>test-1</game_server_id>
    <host>127.0.0.1</host>
    <worker_pool>4</worker_pool>
    <network>
        <network_type>tcp</network_type>
        <port>30700</port>
    </network>
    <network>
        <network_type>http</network_type>
        <port>30701</port>
    </network>
</server>